body{
    margin: 0px;
    width: 100vmax;
}
/*Início HEADER*/
header{
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100vmax;
    background-color: #D9D9D9;
}

#imgLogo{
    height: 15vh;
    width: 20vmax;
    display: flex;
    margin: auto;
}
/*Fim HEADER*/

/*INÍCIO CONTAINER*/
#container{
    display: flex;
    margin: 37px auto;
    justify-content: center;

    height: 100vmin;
    width: 100vmin;
    background-color: black;
}
/*Início --Descrição*/
#descricaoCaixa{
    display: flex;
    margin: 40px 0px 520px;
    width: 40vmax;
    padding: 0px 15px;
    background-color: white;
    
    #descricaoTexto{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: justify;
    }
}
/*Fim --Descrição*/
