body{
    margin: 0px;
    width: 100vmax;
}
/*Início HEADER*/
header{
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100vmax;
    background-color: #D9D9D9;
}

#imgLogo{
    height: 15vh;
    width: 20vmax;
    display: flex;
    margin: auto;
}
/*Fim HEADER*/

/*INÍCIO CONTAINER*/
#container{
    display: grid;
    flex-direction: column;
    margin: 37px auto;
    justify-content: center;

    height: 100vmin;
    width: 100vmin;
    background-color: black;
}
/*Início --Descrição*/
#descricaoCaixa{
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
    width: 40vmax;
    height: 10vmax;
    padding: 0px 10px;
    background-color: white;
    
    #descricaoTexto{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: justify;
    }
}
/*Fim --Descrição*/

/*Início --Nome*/
#nome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: px;
    height: 70px;
    justify-content: start;
    background-color: red;
    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-align: justify;
        color: white;
    }
}
